.consultation {
  align-self: center;
  margin: 0 15px;
  background-color: #8b32fe;
  border-radius: 2px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  max-width: 1170px;

  &_title {
    text-align: left;
  }

  &_input_conteiner {
    border-bottom: 1px solid white;
    display: flex;
  }

  &_input {
    background-color: #00000000;
    border: 0;
    width: 100%;
    height: 33px;
  }
  &_input:focus {
    color: white;
    outline: none;
  }
  &_input::placeholder {
    color: white;
  }

  &_button {
    padding: 18px 52px;
    background-color: #000000;
    color: white;
    border: 0;
    border-radius: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 0.2s;

    &_info {
      display: none;
    }
    &:active {
      opacity: 0.5;
    }
  }
}
.consultation_input_form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.custom_select {
  display: flex;
  align-items: center;
  img {
    padding-right: 5px;
  }
}
@media (min-width: 800px) {
  .consultation_input_form {
    flex-direction: row;
    .consultation_input_conteiner {
      width: 100%;
    }
  }

  .consultation_button_block {
    display: flex;

    button {
      margin-left: 0;
      margin-right: 0;
    }
    justify-content: start;
    .consultation_button_info {
      padding-left: 15px;
      display: block;
      width: 40%;
      font-size: 13px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
